body {
    right: 2%;
    overflow-x: hidden;
}

#post_image {
    width: 50%;
    height: auto;
    z-index: 1;
}

div {

}

#cont {
    position: relative;
    left: 5%;
    background-color: #D8D8D8;
    padding-left: 2%;
    margin-top: 15px;
    padding-top: 2%;
    width: 90%;
    z-index: 1;
}

#background {
    background-color: #D8D8D8;
}

#next {
    position: relative;
    bottom: 2%;
    z-index: 1;
}

#back {
    position: relative;
    bottom: 2%;
    z-index: 1;
}




#post {
    
}

#sep {
    opacity: 0;
    margin-top: 10%;
}

#creator {
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
    vertical-align: central;
}


#cr {
    vertical-align: central;
}

#creator img {
    width: 4%;
    height: 4%;
}

a {
    color: #6DAE70;
}

#head {
    color: #772CE8;
    font-size: 120px;
    background-color: #D8D8D8;
    z-index: 1;
    vertical-align: middle;
    text-align: center;
    
    margin-left: 5%;
    width: 92%;
}
