<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style/style.css" type="text/css" />
    <link href='../static/images/ico.png' rel='icon' type='image/png'>
    
    <title>{{ title }}</title>
</head>
<body>

    <div id='head'>SPAL</div>


    <div id="hat">
        <div>
            <a href="{{ url_for("load_post")}}" id="back">Новый пост</a>
        </div>
    </div>

    <div>
        {% if not curent_user %}
        <a href="{{ url_for("register", message="")}}" id="back">Зарегистрироваться</a>
        {% endif %}
    </div>

    <div>
        {% if not curent_user %}
        <a href="{{ url_for("register", message="")}}" id="back">Войти</a>
        {% endif %}
    </div>




    <div id="cont">
        {% for item in posts %}
        <div id="post">
            <div>
            </div>
            <div id="creator">
                <img src="../static/data/avatar/{{ item.creator_id }}.png">
                {{ item.creator }}
            </div>

            <div id="tags">
                {{ item.tags }}
            </div>

            <img src="../static/data/img/{{ item.image }}.png" id="post_image">
            <div>
                {{ item.text }}
            </div>
            <div id="sep"> what </div>
        </div>
        {% endfor %}


        {% if page %}
        <a href="{{ url_for("index", page=page - 1)}}" id="back">back</a>
        {% endif %}

        <a href="{{ url_for("index", page=page + 1)}}" id="next">next</a>



    </div>





</body>
</html>