<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style/style.css" type="text/css" />
    <link href='../static/images/ico.png' rel='icon' type='image/png'>
    <title>{{ title }}</title>
</head>
<body>

    <div id='head'>SPAL</div>


    <div id="hat"></div>




    <div id="cont">
        <div id="post">
            <div>

            </div>
            <div id="creator">
                <img src="../static/data/avatar/{{ post.creator_id }}.png">
                {{ post.creator }}
            </div>

            <div id="tags">
                {{ post.tags }}
            </div>

            <img src="../static/data/img/{{ post.image }}.png" id="post_image">
            <div>
                text
            </div>
            <div id="sep"> what </div>
        </div>

    </div>

</body>
</html>